.card-main {
  background-color: rgba(9, 18, 24, 0.959);
  height: 25.72vw; /* 500px */
  display: flex;
  flex-direction: column;
  width: 15.83vw; /* 300px */
  border-radius: 0.69vw; /* 10px */
  margin-top: 2vw; /* 20px */
}
.cards-image {
  height: 10.89vw; /* 200px */

  width: 15.83vw; /* 300px */

  border-radius: 0.69vw; /* 10px */
}
.internal-cards-image {
  border-radius: 0.69vw; /* 10px */
  height: 10.89vw; /* 200px */
  width: 20.83vw; /* 300px */
}
.cards-content {
  
  display: grid;
  grid-template-rows: auto auto auto;
  height: 13.89vw; /* 200px */
  padding-top: 0.69vw; /* 10px */
}
.cards-duration {
  
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.49vw; /* 7px */
  height: 2.47vw; /* 50px */
  padding-left: 1.39vw; /* 20px */
  padding-right: 5.56vw; /* 80px */
  padding-top: 0.49vw; /* 7px */
}
.course-btn {
  background: linear-gradient(
    90deg,
    rgba(8, 182, 194, 1) 0%,
    rgba(11, 173, 255, 1) 47%,
    rgba(53, 213, 236, 1) 100%
  );
  border-radius: 2.08vw; /* 30px */
  font-size: 0.8vw; /* 15px */
  padding-left: 0.5vw; /* 20px */
 /* 7px */
  height: 1.43vw; /* 35px */
  width: 4vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.course-duration {
  border-radius: 2.08vw; /* 30px */
  background-color: rgba(46, 134, 120, 0.774);
  font-size: 0.83vw; /* 12px */
  padding-left: 0.5vw; /* 15px */
  /* 7px */
  
 
  height: 1.43vw; /* 35px */
  margin-top: 0.07vw; /* 1px */
  width: 4vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.CEUS {
  background-color: rgba(145, 43, 43, 0.685);
  border-radius: 2.08vw; /* 30px */
   /* 15px */
  font-size: 0.7vw; /* 12px */
  width: 4vw;
 /* 7px */
 padding-top: 0.1vw;
 padding-left: 0.5vw;
  height: 1.43vw; /* 35px */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-heading {
 
  padding-top: 0.69vw; /* 10px */
  font-size: 1.1vw; /* 20px */
  font-family: "Montserrat", sans-serif;
  padding-left: 1.2vw; /* 27px */
  width: 15vw;
}
.card-para {
  font-size: 0.6vw; /* 12px */
  width: 15vw;
  padding-top: 0.69vw; /* 10px */
  padding-left: 1vw; /* 27px */
}
.take-me-there {
  background-color: aquamarine;
  margin-top: 0.5vw; /* 20px */
  height: 1.78vw; /* 40px */
  width: 7.89vw; /* 200px */
  margin-left: 3.13vw; /* 45px */
  border-radius: 1.39vw; /* 20px */
  color: black;
}
@media (max-width: 768px) {
  /* For screens that are 768px or smaller */
  .card-main {
    
    border-radius: 20px;
   
    width: 80vw; /* Reduce the width */
    height: 130.72vw; /* Reduce the height */
    margin-top: 0vw; /* Reduce the margin-top */
  }

  .cards-image {
    width: 80vw; /* Reduce the width */
    height: 50.89vw; /* Reduce the height */
  }

  .internal-cards-image {
    width: 80vw; /* Reduce the width */
    height: 50.89vw; /* Reduce the height */
  }

  .cards-content {
   padding-top: 2vh;
   padding-left: 2vw;
    
    height: 4.89vh; /* Reduce the height */
  }

  .cards-duration {
  
   
    width: 70vw
    ;
    height: 7.17vw; /* Reduce the height */
      /* Reduce the gap */
  }

  .course-btn {

    margin: 0;
    padding-left: 2.5vw;
    width: 20.17vw; /* Reduce the width */
    height: 6.74vw; /* Reduce the height */
    font-size: 3.8vw; /* Reduce the font-size */
    /* Reduce the padding-top */
  }

  .course-duration {
    
    padding-left: 2vw;
    width: 20.47vw; /* Reduce the width */
    height: 6.74vw; /* Reduce the height */
    font-size: 3.8vw; /* Reduce the font-size */
   /* Reduce the padding-top */
  }

  .CEUS {
    width: 20.47vw; /* Reduce the width */
    height: 6.74vw; /* Reduce the height */
    font-size: 3.8vw; /* Reduce the font-size */
    padding-left: 2vw; /* Reduce the padding-left */
    padding-top: 0.35vw; /* Reduce the padding-top */
  }

  .card-heading {
  
   
     text-align: none;
    
    height: 8vh;
    width: 60vw;
    
    font-size: 4.5vw; /* Reduce the font-size */
    /* Reduce the padding-left */
  }

  .card-para {
    padding-top: 2vh;
    font-size: 3.0vw; /* Reduce the font-size */
    width: 70vw;
    padding-left: 1vw; /* Reduce the padding-left */
  }

  .take-me-there {
    width: 20.94vw; /* Reduce the width */
    height: 5.74vh; /* Reduce the height */
    margin-left: 20.08vw;
    
  
    /* Reduce the margin-left */
  }
}

/* Add media queries for 1280 screen size */


