.course-container-mid {
}
.course-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.course-ctn-heading {
  padding-top: 10px;
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  padding-bottom: 10px;
  background-color: rgba(12, 12, 27, 0.829);
  border-radius: 20px;
  padding: 10px;
}
.course-topics {
  
  display: flex;
  flex-direction: column;
  
  width: 1000px;
}
.course-topics-h1 {
  margin-left: 20px;
  margin-top: 40px;
}
.course-subtopics{
    background-color: rgba(24, 21, 61, 0.171);
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    gap: 20px;
    padding-top: 10px;
}
.course-ctn-arrow {
  padding-left: 1230px;
  padding-right: 10px;
  padding-top: 2px;
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
  padding-bottom: 50px;
  margin-top: 70px;
}
.description-h1 {
  padding-right: 740px;
  font-size: 40px;
  padding-left: 90px;
}
.description-para {
  font-size: 15px;
  width: 700px;
  margin-right: 100px;
}
@media only screen and (max-width: 768px) {
  .course-container-mid {
  }
  .course-content {
    display: block;
  }
  .course-ctn-heading {
    padding-top: 5px;
    font-size: 15px;
    font-family: "Mulish", sans-serif;
    padding-bottom: 5px;
    background-color: rgba(12, 12, 27, 0.829);
    border-radius: 10px;
    padding: 5px;
  }
  .course-topics {
    
    display: block;
    
    width: 80vw;
  }
  .course-topics-h1 {
    margin-left: 10px;
    margin-top: 20px;
  }
  .course-subtopics{
      background-color: rgba(24, 21, 61, 0.171);
      display: block;
      padding-left: 25px;
      gap: 10px;
      padding-top: 5px;
  }
  .course-ctn-arrow {
    display: none;
  }
  .description {
    display: block;
    margin-left: 10px;
    padding-bottom: 25px;
    margin-top: 35px;
  }
  .description-h1 {
   
    padding-right: 370px;
    font-size: 20px;
    padding-left: 45px;
    width: 40vw;
  }
  .description-para {
    font-size: 12px;
    width: 80vw;
    margin-right: 50px;
  }
}
@media only screen and (max-width: 1440px) {
  .course-container-mid {
    /* no changes needed */
  }
  .course-content {
    display: block;
  }
  .course-ctn-heading {
    padding-top: 5px;
    font-size: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
   
  }
  .course-topics {
    display: block;
    width: 100%;
   
    
  }
  .course-topics-h1 {
    margin-left: 20%;
    margin-top: 2%;
  }
  .course-subtopics {
    display: block;
    padding-left: 25px;
    gap: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
  
    padding-left: 25%;
  }
  .course-ctn-arrow {
    display: none;
  }
  .description {
    display: block;
    margin-left: 10px;
    padding-bottom: 25px;
    margin-top: 35px;
  }
  .description-h1 {
    padding-right: 370px;
    font-size: 20px;
    padding-left: 45px;
  }
  .description-para {
    font-size: 12px;
    width: 80vw;
    margin-right: 50px;
  }
}
