.footer{
    padding-left: 100px;
    margin-top: 10px;
    background-color: rgba(10, 11, 31, 0.596);
}
@media only screen and (max-width: 768px) {
    .footer{
        padding-left: 0px;
        margin-top: 10px;
        background-color: rgba(10, 11, 31, 0.596);
    }
}