@font-face {
  font-family: "SeogeUI";
  src: local("SeogeUI"), url("../fonts/SegoeUI.ttf") format("truetype");
}
.App {
  /* font-family: "SeogeUI"; */
}
/* * {
  background-color: black;
} */
.navBar {
  background-color: rgb(16, 14, 20);
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 100px 400px auto;
  align-items: center;

  padding-bottom: 10px;
  padding-left: 250px;
  gap: 270px;
  font-family: "SeogeUI";
}
.headerList {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
  padding-left: 20px;
}
.headerList li {
  font-size: 18px;
}
.headerLink {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
}
.signupBtn {
  font-size: 15px;
  align-self: center;
  justify-content: center;

  font-size: 16px;
  border-radius: 100px;
  background: rgb(88, 244, 255);
  background: linear-gradient(
    90deg,
    rgb(57, 177, 185) 0%,
    rgba(86, 194, 249, 1) 47%,
    rgb(70, 177, 219) 100%
  );
  margin-left: 20px;
  height: 30px;
  width: 170px;

  color: rgb(255, 255, 255);
  /* padding: 20px; */
  /* margin: 20px; */
}
.title {
  height: 70px;
  width: 70px;
  border-radius: 10px;
}
.tteBtn {
  border: 2px solid rgba(255, 255, 255, 0.582);
  border-radius: 100px;
  height: 30px;
  width: 170px;
  justify-content: center;
  align-items: center;
  align-self: center;
}
@media (max-width: 768px) {
  .navBar {
    padding-top: 10px;
    grid-template-columns: 1fr 1.5fr 1fr; /* Stack elements vertically */
    padding-left: 25px; /* Reduce padding */
    gap: 10px;
    /* Adjust gap between elements */
  }
  .mobile-menu {
    background-color: rgb(16, 14, 20);
    justify-content: center;
  }

  .headerList {
    padding-left: 25px;
    padding-top: 10px;
    flex-direction: column; /* Stack elements vertically */
    gap: 10px; /* Adjust gap between elements */
    text-align: center; /* Center elements on mobile */
    text-align: justify;
  }
  .signupBtn {
    height: 30px;
    width: 100px;
    font-size: 10px;
    margin-right: 10px;

    /* Add space below the button */
  }
  .tteBtn {
    display: none;
    margin-left: 10px;
  }
  /* Hide the mobile menu by default */

  /* Show the mobile menu when isMobileMenuOpen is true */
  .mobile-menu.open {
    display: block;
  }

  /* Style the mobile menu items */
  .mobile-menu li {
    list-style: none;
  }

  .mobile-menu a {
    display: block;
    padding: 10px;
    color: rgb(53, 105, 184);
    background-color: #1b191b5b;
    text-decoration: none;
    font-size: 15px;
  }

  /* Add some hover effects */
  .mobile-menu a:hover {
    background-color: #5382c9;
    color: #e9e9e9;
  }

  /* Make the explore link stand out */
  .mobile-menu a.explore {
    font-weight: bold;
  }
  .headerLink {
    border: 2px solid rgb(19, 59, 110);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }

  .headerList {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .headerList {
    display: none;
  }

  .mobile-menu-button {
    display: block;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  .navBar {
    padding-left: 15%;
    grid-template-columns: 100px 300px auto; /* Reduce the width of the middle column */
    gap: 100px; /* Reduce the gap between columns */
  }
  .headerList {
    gap: 10px; /* Reduce the gap between list items */
  }
  .headerList li {
    font-size: 16px; /* Reduce the font size of list items */
  }
  .signupBtn {
    height: 30px;
    width: 150px; /* Reduce the width of the sign up button */
  }
  .title {
    height: 60px; /* Reduce the height of the title image */
    width: 60px; /* Reduce the width of the title image */
  }
  .tteBtn {
    height: 30px;
    width: 150px; /* Reduce the width of the tte button */
  }
}
