@font-face {
  font-family: "SeogeUI";
  src: local("SeogeUI"), url("../fonts/SegoeUI.ttf") format("truetype");
}
.App {
  /* font-family: "SeogeUI"; */
}
/* * {
  background-color: black;
} */
.navBar {
  background-color: rgb(16, 14, 20);
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 100px 400px auto;
  align-items: center;

  padding-bottom: 10px;
  padding-left: 250px;
  gap: 310px;
  font-family: "SeogeUI";
}
.headerList {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
  padding-left: 20px;
}
.headerList li {
  font-size: 18px;
}
.headerLink {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
}
.signupBtn {
  font-size: 15px;
  align-self: center;
  justify-content: center;

  font-size: 16px;
  border-radius: 100px;
  background: rgb(88, 244, 255);
  background: linear-gradient(
    90deg,
    rgb(57, 177, 185) 0%,
    rgba(86, 194, 249, 1) 47%,
    rgb(70, 177, 219) 100%
  );
  margin-left: 20px;
  height: 50px;
  width: 120px;

  color: rgb(255, 255, 255);
  /* padding: 20px; */
  /* margin: 20px; */
}
.title {
  height: 70px;
  width: 70px;
  border-radius: 10px;
}
.tteBtn {
  border: 2px solid rgba(255, 255, 255, 0.582);
  border-radius: 100px;
  height: 50px;
  width: 130px;
  justify-content: center;
  align-items: center;
  align-self: center;
}
@media (max-width: 768px) {
  .navBar {
    padding-top: 10px;
    grid-template-columns: 1fr 1.5fr 1fr ; /* Stack elements vertically */
    padding-left: 25px; /* Reduce padding */
    gap: 10px; /* Adjust gap between elements */
  }
  .mobile-menu{
    background-color: rgb(16, 14, 20);
    justify-content: center;
    padding-left: 45%;
    
  }
  

  .headerList {
    padding-left: 25px;
    padding-top: 10px;
    flex-direction: column; /* Stack elements vertically */
    gap: 10px; /* Adjust gap between elements */
    text-align: center; /* Center elements on mobile */
    text-align: justify;
  }
  .signupBtn {
    margin-top: 10px;
    margin-left: 15px;

    /* Add space below the button */
  }
  .tteBtn {
    margin-left: 10px;
  }

}



