/* MainPage.css */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
.main-section {
  display: flex;
  

  flex-direction: row;
  color: black;
  padding: 50px 10px 20px 100px;
  justify-content: space-around;
  list-style-type: none;
  background: rgb(5,38,89);
background: linear-gradient(0deg, rgb(28, 94, 192) 0%, rgb(0, 0, 0) 100%);
   height: 1000px;
}
.content {
  background-color: rgba(206, 29, 29, 0);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  gap: 10px;
  width: 900px;
  height: 780px;
}

.main-heading {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 70px;
  
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.gradient {
  background-image: linear-gradient(60deg, #0e8ddb, #0fbfc5);
  background-clip: text;
  color: transparent;
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
}

.main-paragraph {
 
  font-family: "IBM Plex Sans", sans-serif;
  color: rgb(255, 255, 255);
  text-align: justify;
  font-size: 15px;
 
}
.buttons {
  background-color: rgba(0, 0, 0, 0);
  padding: 40px;
  display: flex;
  justify-content: space-around;
  color: black;
}
.learn-button {
  background-color: rgb(0, 225, 255);
  font-size: 10px;
  height: 50px;
  width: 150px;
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}
.teams-button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 15px;
  height: 50px;
  width: 150px;
  padding: 10px;

  font-family: "Raleway", sans-serif;
}
.trust-heading {
  background-color: rgba(0, 0, 0, 0);
  width: 250px;
  margin-top: 10px;
}
.brands {
  background-color: rgba(0, 0, 0, 0);
 
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  border-radius: 20px;
  height: 120px;
  gap: 50px;
  margin-top: 20px;
  padding-top: 10px;
}
.line {
  border-width: 2px;
  border-radius: 20px;
  border-color: #2ccbd6;
}
.main-pge-logos{
  
  
}
.logoone{
  height: 110px;
  width: 160px;
  margin-left: 8px;
 
}
.logotwo{
   height: 50px;
   width: 120px;
   margin-top: 20px;
 
  margin-left: 10px;
}
.logothree{
  height: 50px;
  width: 200px;
  margin-top: 20px;
  margin-left: 10px;
}
.logofour{
   height: 40px;
   width: 200px;

   margin-top: 35px;
   
 
}


@media (max-width: 600px) { /* For screens that are 600px or less */
    .main-section {
      flex-direction: column; /* Stack the main-section items vertically */
      background-size: cover; /* Resize the background image to cover the entire container */
    }
  
    .content {
      width: 90vw; /* 90% of viewport width */
      height: auto; /* Adjust the height automatically */
      padding: 2vw; /* 2% of viewport width */
    }
  
    .form {
      width: 90vw; /* 90% of viewport width */
      height: auto; /* Adjust the height automatically */
      margin: 5vw; /* 5% of viewport width */
    }
  
    .form-heading {
      width: 80vw; /* 80% of viewport width */
      height: auto; /* Adjust the height automatically */
    }
  
    .email-input {
      width: 80vw; /* 80% of viewport width */
    }
  
    .account-button {
      width: 30vw; /* 30% of viewport width */
      right: 25vw; /* 25% of viewport width */
    }
  
    .signup-heading {
      width: 50vw; /* 50% of viewport width */
    }
  }