.mid-pge-three {
  height: 31.25vw; /* 450px */
  display: flex;
  flex-direction: column;
  align-items: center;
 
  /* added these lines */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vw;
}
.mid-pge-heading {
  height: 13.89vw; /* 200px */
  width: 62.5vw; /* 900px */
  display: inline-block;
  
  /* removed this line */
  margin-left: 20.72vw; /* 50% */
}
.mid-pge-heading h1 {
  padding-left: 6.5vw; /* 100px */
  font-size: 1.89vw; /* 20px */
}
.mid-pge-heading span {
  margin-left: 7vw; /* 80px */

  font-size: 1.59vw; /* 20px */
}
.mid-pge-btns {

  height: 13.89vw; /* 200px */
  display: grid;
  grid-template-columns: auto auto auto;

  width: 50.72vw; /* 500px */
  margin-bottom: 6.94vw; /* 100px */
  column-gap: 0.69vw; /* 10px */
  padding: 1.39vw; /* 20px */
  margin-right: 5vw;
}
.mid-pge-btns-internal {
  background-color: rgba(62, 136, 204, 0.555);
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 2.08vw; /* 30px */
  padding-top: 0.5vw; /* 2px */
  margin-top: 1vw; /* 20px */
  margin-left: 0.35vw; /* 5px */
}

/* added media query for screen width less than 600px */
@media (max-width: 768px) {
  .mid-pge-three{
   
  }
  .mid-pge-heading {
  
   padding-top: 8vw;
    height: 50vw;
   text-align: center;
   margin-right: 25vw;
   
  }
  .mid-pge-heading span {
    padding: 0;
    margin: 0;
    
    /* changed from 180px to 10% */

   
    font-size: 5vw; /* changed from 40px to 4vw */
  }
  .mid-pge-heading h1 {
    padding: 0;
    margin: 0;
    font-size: 6vw; /* increased the font size */
  }

  .mid-pge-btns {
    margin-left: 6vw;
    grid-template-columns: auto; /* changed the grid layout to one column */
    row-gap: 2vw; /* added some gap between rows */
    margin-top: 5vw;
    height: 130vw;
    width: 80vw;
    padding-bottom: 5vw;
  }
  .mid-pge-btns-internal {
    height: 15vw;
    width: 75vw;
    padding-top: 5vw;
  }

  .mid-pge-three {
    margin-top: 5vw;
    height: 200vw;
  }
}

