.abt-us-pge{
   
    display:flex;
     height:30.67vw; /* 
     600px */
   
     padding-left: 5vw;
   

}
.abt-us-img{
   
    padding-top: 2.47vw; /* 5% */
    padding-left: 13.89vw; /* 20% */
    width: 44.72vw; /* 50vw */
    
}
.abt-us-image{
    border-radius: 1.39vw; /* 20px */
}
.abt-us-cnt{
   
    display: grid;
    grid-template-rows: 2.083vw 6vw;
    width: 34.72vw; /* 50vw */
    padding-top: 5.17vw; /* 6% */
    padding-left: 3.47vw; /* 5% */
}
.abt-us-cnt h2{
    font-size: 1.1vw; /* 20px */
}
.abt-us-cnt h1{
    font-size: 1.2vw; /* 25px */
   
    width: 24.31vw; /* 35% */
}
.abt-us-cnt p{
   
    width: 34.72vw; /* 50% */
    text-align: justify;
}
@media only screen and (max-width: 768px) {
    .abt-us-pge{
        display:block;
        height:auto;
    }
    .abt-us-img{
        padding-top: 10%;
        padding-left: 0%;
        width: 90vw;
    }
    .abt-us-cnt{
        display: block;
        width: 80vw;
        padding-top: 10%;
        padding-left: 15%;
      
    }
    .abt-us-cnt h2{
        font-size: 3.5vw;
    }
    .abt-us-cnt h1{
        font-size: 4.5vw;
        width: 100%;
    }
    .abt-us-cnt p{
        font-size: 2.3vw;
        width: 100%;
       
    }
}

