.promises h1{
   font-size: 20px;
   font-family: 'Open Sans', sans-serif;
}
.promises p {
    font-family: 'Raleway', sans-serif;
    font-size: small;
    padding-top: 10px;
    color: rgba(240, 248, 255, 0.795);
}